<!-- See: http://fancyapps.com/fancybox/#instructions -->
<script type="text/javascript" src="{{site.baseurl}}/js/vendor/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/js/vendor/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{site.baseurl}}/js/vendor/fancybox/source/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/js/vendor/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{site.baseurl}}/js/vendor/fancybox/source/helpers/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/vendor/fancybox/source/helpers/jquery.fancybox-media.js"></script>
<link rel="stylesheet" href="{{site.baseurl}}/js/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{site.baseurl}}/js/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
<script>$(document).ready(function() { $(".fancybox").fancybox();});</script>
