<div id="gse" class="container-fluid">
<script>
  (function() {
    var cx = '008032937303397903731:v85jgxu46ha';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
<style type="text/css" media="screen">
  td.gsc-search-button input.gsc-search-button.gsc-search-button-v2 { width: 72px; height: 30px; }
</style>
