<div class="quote-item col-xs-12">
  <div class="panel panel-primary">
    {% if quote.last["title"] %}
    <div class="panel-heading">
      <h4>{{quote.last["title"]}}</h4>
    </div>
    {% endif %}
    <div class="panel-body">
      {% if quote.last["img"] %}
      <img
	 src="{{ quote.last["img"] | prepend: "blog/quotes/" | prepend: site.images.s3path}}"
	 class="img-frame-center"
	 alt="{{ quote.last["text"]}}" />
      {% endif %}
      {{ quote.last["text"] | markdownify }}
    </div>
    {% if quote.last["cite"] %}
    <div class="panel-footer">
      <cite>
	{% if quote.last["source"] %}
	<a href="{{ quote.last["source"]}}">{{quote.last["cite"] | markdownify}}</a>
	{% else %}
	{{quote.last["cite"] | markdownify}}
	{% endif %}
      </cite>
    </div>
    {% endif %}
  </div>
</div>
