<div class="quote-item col-xs-12">
  <div class="panel panel-primary">
    {% if quote.last["title"] %}
    <div class="panel-heading">
      <strong>{{quote.last["title"]}}</strong>
    </div>
    {% endif %}
    <div class="panel-body">
      {{ quote.last["text"] | markdownify }}
    </div>
    {% if quote.last["cite"] %}
    {% assign source = quote.last["source"] | default: "#" %}
    <div class="panel-footer">
      <cite> <a href="{{ quote.last["source"]}}">{{quote.last["cite"]}}</a> </cite>
    </div>
    {% endif %}
  </div>
</div>
