{% assign quote = site.data.quotes[include.id] | default: include %}
<blockquote class="quote">
  <div class="quote-body">
    {{ quote.text | markdownify}}
  </div>
  {% if quote.cite %}
  {% assign quote_source = quote.source | default: "#" %}
  <footer class="quote-citation">
    <a href="{{quote_source}}"><cite>{{quote.cite}}</cite></a>
  </footer>
  {% endif %}
</blockquote>
{% if quote.img %}
<img
   src="{{ quote.img | prepend: "blog/quotes/" | prepend: site.images.s3path }}"
   class="img-frame-center"
   alt="{{ quote.text | truncate: 25 }}"
   />
{% endif %}
