// Main.scss -- imports all the other bits of sass/scss to compile to /assets/css/main.css
// ------------------------------------------------------------------------------------------

@import "my_variables";
@import "bootstrap";
@import "font-awesome";

// Local style variations
// ------------------------------

body {
    padding: 70px 0;
}

@media (min-width: $screen-md-min) {
    .page-narrow {
	width: 52em;
	margin: 0 auto;
    }
}

.panel-primary .panel-heading {
    a {
	color: $panel-primary-text
    }
}
.panel-default .panel-heading {
    a {
	color: $panel-default-text
    }
}
.panel-success .panel-heading {
    a {
	color: $panel-success-text
    }
}
.panel-info .panel-heading {
    a {
	color: $panel-info-text
    }
}
.panel-warning .panel-heading {
    a {
	color: $panel-warning-text
    }
}
.panel-danger .panel-heading {
    a {
	color: $panel-danger-text
    }
}

.index-item {
    .post-excerpt {
	margin: 0 0 10px 0;
	padding: 0;
    }
    .panel-heading {
	padding: 2px 5px;
	h1, h2, h3, h4, h5, h6 {
	    margin-top: 10px;
	}
    }
}

@media (min-width: $screen-md-min) {
    .index-item {
	.panel-heading {
	    width: auto;
	    height: 75px;
	    overflow-y: hidden;
	}
	.post-excerpt {
	    height: 100px;
	    overflow-y: hidden;
	    width: auto;
	}
    }
}


#markdown-toc {
    li {
	display: inline;
    }
}

.front-page-hero {
    background: #000 url(/images/beach-chair-painting.jpg) 50% 70%;
    background-size: cover;
    color: $gray-lighter;
    text-shadow: 2px 2px 4px $gray;
}

.quote {
    .quote-heading {

    }
    .quote-body {
	.quote-image {

	}
    }
    .quote-citation {

    }
}