<div class="index-item col-xs-12 col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <p class="text-center">
	<strong>
	  <a href="{{post.url | prepend: site.baseurl}}">
	    {{post.title}}
	  </a>
	</strong>
      </p>
    </div>
    <div class="panel-body">
      <div class="post-excerpt">{{post.excerpt | markdownify }}</div>
      <p class="text-right"><a class="btn btn-primary" href="{{site.baseurl | append: post.url }}" role="button">Read more &raquo;</a></p>
    </div>
  </div>
</div>
